version: '3'

# database ports are mapped to the host for debug purposes

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:alpine
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"

  bot:
    build: .
    depends_on:
      - db
      - redis
    environment:
      - TG_TOKEN
      - SUPERADMINS
      - LOG
      - CHANNEL
      - SOURCE
      - GROUP
      - CORE_LANG
    ports:
      - "80:80"
    volumes:
      - ./lua:/srv/app/lua
      - ./conf:/srv/app/conf
      - ./i18n:/srv/app/i18n
